{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
      {% if user %}
        <div>
          <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <textarea id="twit" name="content" maxlength="140"></textarea>
            </div>
            <div class="img-preview">
              <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
              <input id="img-url" type="hidden" name="url">
            </div>
            <div>
              <label id="img-label" for="img">사진 업로드</label>
              <input id="img" type="file" accept="image/*">
              <button id="twit-btn" type="submit" class="btn">짹짹</button>
            </div>
          </form>
        </div>
      {% endif %}
      <div class="twits">
        <form id="hashtag-form" action="/hashtag">
          <input type="text" name="hashtag" placeholder="태그 검색">
          <button class="btn">검색</button>
        </form>
        {% for twit in twits %}
          <!--visibility가 1일시 글이 보이게-->
          {% if twit.visibility === "1" %}
          <!--modify div 로의 버블링을 위한 label-->
          <label for="modifyPostOne"  onclick="changeDisplayAttrOne(this);">

            <div class="twit">
              <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
              <input type="hidden" value="{{twit.id}}" class="twit-id">
              <div class="twit-author">{{twit.User.nick}}</div>
              {% if not followerIdList.includes(twit.User.id) and twit.User.id !== user.id %}
                <button class="twit-follow">팔로우하기</button>
              <!--여기에 Follow /무/ 여부판단 후 follow해제 작업 버튼-->
              {% endif %}
              {% if followerIdList.includes(twit.User.id) and twit.User.id !== user.id %}
                <button class="twit-unfollow">팔로우취소</button>
              {% endif %}
              <!--여기에 Follow /무/ 여부판단 후 follow해제 작업 버튼-->
              <!-- 내글일시 비활버튼 -->
              {% if twit.User.id === user.id%}
                <div style="display:inline">
                  <button id="del-post" onclick="delPost(this);">글 비활성화</button>
                  <input type="hidden" value="{{twit.id}}"/>
                </div>
              {% endif %}
              <!-- 내글일시 비활버튼 -->

              <!--트윗 좋아요-->
              {% if not likedList.includes(twit.id) and twit.User.id !== user.id %}
              <button class="twit-like">좋아요</button>
              {% endif %}
              {% if likedList.includes(twit.id) and twit.User.id !== user.id %}
              <button class="twit-unlike">좋아요 취소</button>
              {% endif %}

              <div class="twit-content">{{twit.content}}</div>
              {% if twit.img %}
                <div class="twit-img"><img src="{{twit.img}}" alt="섬네일"></div>
              {% endif %}

              {% if twit.User.id === user.id%}
              <!--글 수정을 위한 div-->
              <div id="modifyPostOne">
                <textarea class="modifyPostTextArea"></textarea>
                <button class="modifyPostButton" onclick="modifyPostButtonClick(this);">수정</button>
              </div>
              <!--글 수정을 위한 div-->
              {% endif %}


                <!--여기에 댓글창 구현하면될듯-->
                <div id="commentsListContainer">
                  <!--애초에 댓글들은 다 받아와놓고 display만 조정하면 될일.-->
                  <!-- 댓글리스트 보여주는 div -->
                    <div style="overflow:scroll;" id="commentsListDiv">
                      {% for comment in comments %}
                        {% if twit.id === comment.postId %}
                          <p>{{ comment.whoWrite }} : {{comment.contents}}</p>
                        {% endif %}
                      {% endfor %}
                    </div>
                  <!-- 댓글리스트 보여주는 div -->

                  <!-- 댓글 다는 form을 담은 div -->
                    <div id="commentsForm">
                      <form id="commentForm" action="/comment/addComment" method="get">
                        <input type="hidden" value="{{twit.id}}" class="twit-id">
                        <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
                        <input type="text" value="">
                        <!--댓글작업중-->
                        <button type="button" id="commentAddButton" onclick="addCommentfunc(this);">댓글작성</button>
                      </form>
                      
                      
                      
                    </div>
                  <!-- 댓글 다는 form을 담은 div -->
                </div>
                <!--여기에 댓글창 구현하면될듯-->


            </div>
            </label>
            <!--modify div 로의 버블링을 위한 label-->

          {% endif %}
          <!--visibility가 1일시 글이 보이게-->


          <!--visibility가 0일시 글이 안보이게-->
          {% if twit.visibility === "0" and  twit.User.id === user.id%}
          <!--modify div 로의 버블링을 위한 label-->
        <label for="modifyPostTwo" onclick="changeDisplayAttrTwo(this);">
          <div class="twit">
            <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
            <input type="hidden" value="{{twit.id}}" class="twit-id">
            <div class="twit-author">{{twit.User.nick}}</div>
            {% if not followerIdList.includes(twit.User.id) and twit.User.id !== user.id %}
              <button class="twit-follow">팔로우하기</button>
            <!--여기에 Follow /무/ 여부판단 후 follow해제 작업 버튼-->
            {% endif %}
            {% if followerIdList.includes(twit.User.id) and twit.User.id !== user.id %}
              <button class="twit-unfollow">팔로우취소</button>
            {% endif %}
            <!--여기에 Follow /무/ 여부판단 후 follow해제 작업 버튼-->
            <!-- 내글일시 활성화버튼 -->
            {% if twit.User.id === user.id%}
              <div style="display:inline">
                <button id="add-post" onclick="addPost(this);">글 활성화</button>
                <input type="hidden" value="{{twit.id}}"/>
              </div>
            {% endif %}
            <!-- 내글일시 활성화버튼 -->

            <!-- 트윗 좋아요 -->
            {% if not likedList.includes(twit.id) and twit.User.id !== user.id %}
            <button class="twit-like">좋아요</button>
            {% endif %}
            {% if likedList.includes(twit.id) and twit.User.id !== user.id %}
            <button class="twit-unlike">좋아요 취소</button>
            {% endif %}

            <div class="twit-content">{{twit.content}}</div>
            {% if twit.img %}
              <div class="twit-img"><img src="{{twit.img}}" alt="섬네일"></div>
            {% endif %}

              <!--글 수정을 위한 div-->
              {% if twit.User.id === user.id%}
              <div id="modifyPostTwo">
                <textarea class="modifyPostTextArea"></textarea>
                <button class="modifyPostButton" onclick="modifyPostButtonClick(this);">수정</button>
              </div>

              {% endif %}
              <!--글 수정을 위한 div-->
            </div>            
          </label>
          <!--modify div 로의 버블링을 위한 label-->
          {% endif %}
          <!--visibility가 0일시 글이 안보이게-->
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
    document.querySelectorAll('.twit-follow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });

    //팔로우 취소 이벤트주기
    document.querySelectorAll('.twit-unfollow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로우를 취소하시겠습니까?')) {
              //unfollow니까 follow를 unfollow로 바꾸기 이후 저 url관련 메서드를 만들어줘야함
              axios.post(`/user/${userId}/unfollow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });
    //팔로우 취소 이벤트주기

    //트윗 좋아요 이벤트
    document.querySelectorAll('.twit-like').forEach(function (tag) {
        tag.addEventListener('click', function () {
            const myId = document.querySelector('#my-id');
            if (myId) {
                const twitId = tag.parentNode.querySelector('.twit-id').value;
                if (confirm('해당 트윗을 좋아요 하시겠습니까?')) {
                    axios.post(`/post/${twitId}/like`)
                        .then(() => {
                            location.reload();
                        })
                        .catch((err) => {
                            console.error(err);
                        });
                }
            }
        });
    });


    //트윗 좋아요 취소 이벤트
    document.querySelectorAll('.twit-unlike').forEach(function (tag) {
        tag.addEventListener('click', function () {
            const myId = document.querySelector('#my-id');
            if (myId) {
                const twitId = tag.parentNode.querySelector('.twit-id').value;
                if (confirm('해당 트윗의 좋아요를 취소하시겠습니까?')) {
                    axios.post(`/post/${twitId}/unlike`)
                        .then(() => {
                            location.reload();
                        })
                        .catch((err) => {
                            console.error(err);
                        });
                }
            }
        });
    });
  

    //글비활성화 메서드
    function delPost(ele){

      if (confirm('글을 비활성화 하시겠습니까?')) {
        const formData = new FormData();
        const userId = ele.parentNode.parentNode.children[2].innerText;
        const postId = ele.parentNode.children[1].value;
        formData.append("userId",userId);
        formData.append("postId",postId);
        axios.post('/post/delPost', formData)
            .then((res) => {
              console.log(res);
              location.href = "/";
            })
            .catch((err) => {
              console.error(err);
        });
      }
    }
    //글비활성화 메서드


    //글 활성화 메서드
    function addPost(ele){
      if (confirm('글을 활성화 하시겠습니까?')) {
        const formData = new FormData();
        const userId = ele.parentNode.parentNode.children[2].innerText;
        const postId = ele.parentNode.children[1].value;
        formData.append("userId",userId);
        formData.append("postId",postId);
        axios.post('/post/addPost', formData)
            .then((res) => {
              console.log(res);
              location.href = "/";
            })
            .catch((err) => {
              console.error(err);
        });
      }
    }
    //글 활성화 메서드

    //글 수정을 위한 div의 display속성을 none/true로 지정하는 메서드 1
    //보이는작업 / 안보이는작업
    function changeDisplayAttrOne(ele){
      //commentsListContainer = clc로 취급
      //작업중
      try{
        var clcForm = ele.children[0].children[6].children[1].children[0].children[1];        
        var clcDiv = ele.children[0].children[6];
        
        var obj = ele.children[0].children[5];
        //내글일때
        obj.style.display = (obj.style.display == 'none') ? 'block' : 'none';
        clcDiv.style.display = (clcDiv.style.display == 'none') ? 'block' : 'none';

        //console.log(clcDiv.children[1].children[0].children[2]);

        obj.children[0].addEventListener(
          'click',
          (event) => {
            event.stopPropagation();
            event.preventDefault();
            event.stopImmediatePropagation();  
          },
          true
        );

        clcDiv.children[1].children[0].children[2].addEventListener(
          'click',
          (event) => {
            event.stopPropagation();
            event.preventDefault();
            event.stopImmediatePropagation();  
          },
          true
        );

          //내글일때



      }catch(e){
        var clcForm = ele.children[0].children[5].children[1].children[0].children[1];
        var clcDiv = ele.children[0].children[5];
        //var obj = ele.children[0].children[5];
        //내글이 아닐때
        clcDiv.style.display = (clcDiv.style.display == 'none') ? 'block' : 'none';
        //console.log(clcDiv.children[1].children[0].children[2]);
        clcDiv.children[1].children[0].children[2].addEventListener(
          'click',
          (event) => {
            event.stopPropagation();
            event.preventDefault();
            event.stopImmediatePropagation();  
          },
          true
        );
          //내글이 아닐때
      }
    }
    //글 수정을 위한 div의 display속성을 none/true로 지정하는 메서드 1


    //글 수정을 위한 div의 display속성을 none/true로 지정하는 메서드 2
    function changeDisplayAttrTwo(ele){
      const obj = ele.children[0].children[5];
      obj.style.display = (obj.style.display == 'none') ? 'block' : 'none';
      obj.children[0].addEventListener(
        'click',
        (event) => {
          event.stopPropagation();
          event.preventDefault();
          event.stopImmediatePropagation(); 
        },
        true
      );
    }
    //글 수정을 위한 div의 display속성을 none/true로 지정하는 메서드 2
    
    function modifyPostButtonClick(ele){
      if (confirm('글을 수정 하시겠습니까?')) {
        const formData = new FormData();
        //전체
        //요청 글번호
        const postId = ele.parentNode.parentNode.children[1].value;
        //수정할 내용.
        const content = ele.parentNode.children[0].value;
        formData.append("postId",postId);
        formData.append("content",content);
        axios.post('/post/modifyPost', formData)
            .then((res) => {
              console.log(res);
              location.href = "/";
            })
            .catch((err) => {
              console.error(err);
        });   
      }
    }

    function Withdrawal(ele){
      if(confirm("회원 탈퇴를 진행하시겠습니까?")){
        const userId = ele.parentNode.children[3].value;      
        axios.get(`/auth/delUser/${userId}`)
            .then((res) => {
              console.log(res);
              location.href = "/";
            })
            .catch((err) => {
              console.error(err);
        });
      }
    }

    function addCommentfunc(ele){

      var postId = ele.parentNode.children[0].value;
      var myId = ele.parentNode.children[1].value;
      var content = ele.parentNode.children[2].value;
      //var nick = user.id.nick;
      var nicknameDiv = document.getElementsByClassName('user-name')[0].innerText
      console.log(nicknameDiv.indexOf(" "));
      
      var nickname = nicknameDiv.substring(nicknameDiv.indexOf(" ")+1,nicknameDiv.length-1);
      
      if(confirm("댓글을 작성하시겠습니까?")){
        
        axios.get(`/comment/addComment/${nickname}/${postId}/${myId}/${content}`)
            .then((res) => {
              console.log(res);
              location.href = "/";
            })
            .catch((err) => {
              console.error(err);
        });
      }

    }

  </script>
{% endblock %}
