{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="info edit">
      <h2> 프로필 수정 </h2>
      <form name="edit" id="edit-form" action="/edit/info" method="post">
        <input type="hidden" name="id" value="{{user.id}}">
        {% if user.email != null %}
          <h3>이메일 주소</h3> <input type="email" class="check" name="email" value="{{user.email}}"><p></p>
          <h3>비밀번호</h3> <input type="password" class="check" name="password"><p></p> 
        {% endif %}
        <h3>닉네임</h3> <input type="text" class="check" name="nick" value="{{user.nick}}"><p></p>
        <input type="hidden" name="provider" value="{{user.provider}}">
        <br/>
        <br/>
        <button id="edit-yes" type="submit" class="btn" onclick="check()">변 경</button>
        <button id="edit-no" type="submit" class="btn">취 소</button>
      </form>
     </div>
     <!-- 등록된 계정으로 로그인하면 이메일, 비밀번호, 닉네임 정보가 다 나오지만, 카카오톡 계정으로
    로그인하면 닉네임만 나오므로 위와 if 문을 사용.-->
  </div>
  <script>
    function check(){
      
      if(confirm("변경하시겠습니까?")){
        alert("변경되었습니다.");
      }
      else{
        event.preventDefault();
      }
    }
  </script>
{% endblock %}
